<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%
    const otherstudents=studentList.filter(u=>u.id!==currentUser.id)
    %>
    <p>
    <%otherstudents.forEach((student)=>{%>
        <a href="/chat/:<%currentUser.id%>/:<%student.id%>"><%student%></a>
    <%})%>
    </p>
</body>
</html>