<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="flex h-screen justify-center items-center">
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="enter name" class="border border-black p-3">
        <input type="email" name="email" placeholder="enter email" class="border border-black p-3">
        <button type="submit" class="border border-black p-3">Submit</button>
    </form>
    </div>
</body>
</html>