<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gradient-to-br from-[#c2a08a] via-[#8b5c3a] to-[#3e1f13] text-white">
    <div class="flex flex-col mt-10 text-center items-center h-screen">
    <h1 class="text-3xl font-bold mb-10 italic">Welcome, dear student!</h1>
    <span class="text-lg mb-6 italic leading-relaxed">
  Ready to start learning? Discover a variety of engaging, student-friendly courses curated just for you.
  <br><br>
  From coding and design to personal development and communication skills, our platform offers high-quality, easy-to-follow content designed to help you grow. Whether you're just starting out or advancing your journey, our expert instructors and practical lessons are here to guide you every step of the way.
  <br><br>
  Learn at your own pace, track your progress, and unlock your full potential — all in one place. <br>
  <p class="text-[#3e1f13] leading-relaxed font-bold text-2xl">Browse our wide range of curated courses now</p><br>
</span>
<div class="inline-block px-5 py-3 bg-[#3e1f13] hover:bg-[#8b5c3a] text-white font-semibold rounded-md transition-all duration-300"><a href="/course">View Courses</a></div>
<a href="/">Back to home page</a>
</div>
</body>
</html>