<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/add-Post">Add Post</a>
            <a href="/posts">View Post</a>
        </nav>
    </header>
    <main>
        <h1>📬 Welcome to the Posts Section</h1>
        <p>Here you can share your thoughts, stories, and updates with the world!</p>
    </main>
    <footer>
        <h1>@ 2025 myWebsite</h1>
    </footer>
</body>
</html>