
      body {
        width: 100vw;
        height: 100vh;
        overflow-x: auto;
      }
      .container {
        display: flex;
        flex-direction: column;
        width: 100vw;
      }

      .one {
        display: flex;
        height: 10px;
      }
      .second img{
        width: 100vw;
      }

       img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        border-radius: 20px;
      }

      .first {
        padding: 80px;
        width: 100%;
        max-width: 100%;
        /* width: 1100.670px; */
        /* height: 39.998px; */
        height: auto;
      }

      .first_one {
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* width: 1100.67px; */
        width: 100%;
        /* height: 74px; */
        height: auto;
      }
      .second {
        padding: 15px;
        /* width: 1234px; */
        /* height: 536.865px; */
        height: auto;
        width: 100%;
      }


      .b {
        border-radius: 20px;
      }
      

      .searchbar {
        /* width: 538px;
        height: 43.667px;
        border: 0.667px; */
        width: 90%;
        margin-top: 10px;
      }

      .icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .b h2 {
        font-family: "Fraunces", serif;
        text-align: center;
        font-size: 20px;
      }

      h1 {
        text-align: center;
        font-family: "Fraunces", serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 48px;
      }

      h3 {
        text-align: center;
      }

      .grid2 {
        /* height: 955.927px; */
        height: auto;
        max-width: 1080px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 12px;
      }

      .parentGrid2 {
        margin-left: 77.333px;
        margin-right: 77.333px;
        /* height: 955.927px; */
        height: auto;
      }
     
      .parentGrid1 {
        /* height: 679px; */
        height: auto;
        max-width: 1248px;
        width: 100%;
      
    }

      .grid1 {
        /* height: 634.26px; */
        max-width: 1080px;
        width: 100%;
        padding-bottom: 45px;
        /* padding-left: 15px;
        padding-right: 15px; */
        /* margin-left: 69.333px;
        margin-right: 69.333px; */
        margin: auto;
        display: flex;
        justify-content: space-between;
      }
      .left {
        /* max-width: 536px; */
        width: 100%;
        /* height: 634.260px; */
        height: auto;
        padding: 0 10px;
      }
     
      .right {
        max-width: 536px;
        width: 100%;
        /* height: 634.260px; */
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .r1 {
        max-width: 536px;
        width: 100%;
        /* height: 316.819px; */
        height: auto;
      }
      .r2 {
        max-width: 536px;
        /* height: 316.819px; */
        width: 100%;
        height: auto;
      }

      img {
        border-radius: 20px;
      }

      .firstNav {
        width: 100%;
        max-width: 1080px;
        /* height: 74px; */
        height: auto;

        margin-right: 77.333px;
        margin-left: 77.333px;
      }

      .secondNav {
        max-width: 1080px;

        margin-right: 77.333px;
        margin-left: 77.333px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
      }
      .space {
        width: 1264px;
        height: 12px;
      }
      .firstNav1 {
        max-width: 1080px;
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .searchbar {
        max-width: 538.667px;
        width: 100%;
        /* height: 46.667px; */
        height: auto;
        border: 1px solid rgb(218, 215, 215);
        border-radius: 20px;
        position: relative;
        top: 0.3px;
        display: flex;
        flex-wrap: wrap;
      }
      .icons {
        max-width: 231px;
        width: 100%;
        max-height: 50px;
        display: flex;
        justify-content: space-between;
      }
      .i {
        max-width: 21px;
        max-height: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .c {
        display: flex;
        padding-top: 8px;
        padding-bottom: 15px;
      }
      .c img {
        /* height: 17px; */
        max-width: 17px;
        height: auto;
        width: 100%;
        padding-top: 15px;
        margin-right: 8px;
      }
      .c h4 {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-size: 13px;
        text-shadow: 0px;
      }
      .footer {
        /* width: 1080.67px;
        height: 668.885px; */
        width: 100%;
        background-color: rgb(47, 12, 12);
        /* margin-right: 57.333px;
        margin-left: 66.333px; */
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .foot {
        display: flex;
      }
      .apps {
        display: flex;
        flex-wrap: wrap;
      }
      .firstFooter {
        max-width: 339.99px;
        width: 100%;
        /* height: 541.885px; */
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
      }
      .secondFooter {
        max-width: 740px;
        width: 100%;
        /* height: 541.881px; */
        height: auto;
      }
      .one {
        max-width: 710px;
        width: 100%;
        /* height: 255.093px; */
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 64px;
        border-bottom: 0.667px;
        margin-bottom: 24px;
      }
      .two {
        max-width: 740px;
        width: 100%;
        max-height: 32px;
        height: auto;
        padding-bottom: 24px;
        border-bottom: 0.667px;
        margin-bottom: 24px;

        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
        text-align: center;
      }
      .three {
        max-width: 740px;
        width: 100%;
        max-height: 24px;
        height: 100%;
        padding-bottom: 24px;
        border-bottom: 0.667px;
        margin-bottom: 24px;
      }

      .four {
        max-width: 740px;
        width: 100%;
        max-height: 24px;
        padding-bottom: 24px;
        border-bottom: 0.667px;
        display: flex;
      }

      .one1 {
        max-width: 236.256px;
        width: 100%;
        /* height: 255.094px; */
        height: auto;
      }

      .one2 {
        max-width: 236.256px;
        width: 100%;
        /* height: 255.094px; */
        height: auto;
      }

      .one3 {
        max-width: 129.5px;
        /* height: 254.188px; */
        width: 100%;
        height: auto;
        padding-right: 48px;
      }
      .three {
        display: flex;
        justify-content: flex-start;
        gap: 19px;
      }

      .e h2 {
        position: relative;
        bottom: 18px;
        font-size: 19px;
        color: white;
      }
      .hi {
        display: flex;
        justify-content: space-between;
      }
      .one2,
      .one1,
      .one3 {
        color: white;
      }
      @media (max-width: 768px) {
        .secondNav {
          flex-direction: column;
        }
      }
      @media (max-width: 768px) {
        .grid1 {
          flex-direction: column;
          padding: 0 15px;
        }
      
        .left,
        .right,
        .r1,
        .r2 {
          max-width: 100%;
          width: 100%;
        }
      
        .right {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 15px;
        }
      .left{
        margin: 0 60px;
      }
        
      }
      @media(max-width:768px){
        .footer{
          flex-direction: column;
        }
        .secondFooter,
        .firstFooter,
        .logo2{
          padding: 20px;
        }
      }
      @media(max-width:768px){
        .firstNav1{
          flex-direction: column;
        }
        .searchbar{
          flex-direction: row;
        }
      }